/* 
    Created on : Jul 27, 2015, 8:16:56 AM
    Author     : Michael Dahlke <mdahlke@dealersocket.com>
*/

.sticky-element-fixed {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 10002;
}